* {
    margin: 0;
    padding: 0;
}

bodyaa {
    background-color: rebeccapurple;
    color: white;
}

/*Form*/
.input-text,
select {
    width: 300px;
    padding: 5px;
    margin: 5px 0px;
}

/*Table*/
.btn {
    font-size: 18px;
    padding: 2px 10px;
    font-weight: 500;
    border: none;
    margin: 5px;
    background-color: purple;
    color: white;
}

.cont-app {
    width: 400px;
    margin: 0 auto;
    border: solid 1px black;
    padding: 10px;
}

.tbl-tasks td {
    padding: 5px;
    color: white;
}


.high {
    background-color: red;
}

.medium {
    background-color: violet;
}

.low {
    background-color: green;
}